/******************************* GENERAL ********************************/

body{
    font-family: 'Didact Gothic', sans-serif;
    --red : #F25038;
}

h3{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2.1em;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 1.5em;
}

h2{
    font-size: 1.6em;
    padding-top: 0.8em;
    font-weight: 600;
}

.row:not(header){
    margin-bottom: 5em;
}

a{
    color: black;
}

a:focus, a:hover {
    text-decoration: none; 
    color: var(--red);
}

li{
    list-style: square; 
}

/************************* TOP HEADER & NAV *****************************/

header{
    line-height: 5em;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

header a:focus, header a:hover {
    text-decoration: none; 
    color: black;
}

.logo{
    position: relative;
    margin-left: 5em;
}

.logo svg{
    width: 5em;
    height: 5em;
    display: inline;
}

.logo-text{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    display: inline;
    position: absolute;
    bottom: 5px;
}

.hidden{
    display: none;
}

.catch-text{
    height: 5em;
}


/******************** HEADER IMAGE ET ZONE DE RECHERCHE *****************/

.image-search{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/essai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.search-box {
    background: transparent;
    border: none;
    border-bottom: 4px solid white;
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 0.2em;
    color: white;
    height: 59px;
}

.search-box:focus {
    outline: none;
}

.send{
    background-color: transparent;
    border: none;
    text-align: right;
    margin: 0;
    border-bottom: 4px solid white;
    height: 59px;
}

.send svg{
    width: 2.5em;
    height: 3.5em;
    text-align: right;
}

.line-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: bevel;
    stroke-width: 3.21px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.65);
}

.line-1 {
    fill: transparent;
}
/**************************** TROUVER UN MUSEE **************************/


.square-title{
    margin-top: 10em;
    position: relative;
    min-height: 10em;
}

.square{
    height: 8em;
    width: 8em;
    position: absolute;
    background-color: var(--red);
}

.square-title h3{
    position: absolute;
    top: 1em;
    left: 2em;
    color: black;

}

article.find-museum > .titles:nth-child(1) > .square-title:nth-child(2) > .square{
    margin-left: 8em;
}

article.find-museum > .titles:nth-child(1) > .square-title:nth-child(2) > h3{
    left: 0;
}

.panel{
    box-shadow: none;
}

.panel-default {
    border: none;
    border-color: transparent;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border:none;
    border-color: transparent;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: var(--red);
}



/**************************** EXPOSITIONS **************************/



/*Now the styles*/
* {
    margin: 0; 
	padding: 0;
}


/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width: 100%; height: 43em;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 100px auto;
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 138px;
	float: left;
	
	border-left: 1px solid #888;
	
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 405px;}


.accordian li img {
	display: block;
    max-height: 43em;
    width: auto;
}

/*Image title styles*/
.image_title {
	background: rgba(242, 69, 56, 0.8);
	position: absolute;
	left: 0; bottom: 0;	
    width: 405px;	
}

.image_title a {
	display: block;
	color: #fff;
    font-weight: 600; 
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}




/* -------------------------------------------------------- */

a.is-active {
    color: #F25038;
}

.carte path.is-active {
    fill: #F25038;
}

::-webkit-scrollbar

{

width: 15px;

margin-right: 3px;

}

::-webkit-scrollbar-track

{

/*-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,1);*/
background-color: #ddd;
/*border-radius: 10px;*/

}

::-webkit-scrollbar-thumb

{

/*border-radius: 10px;*/

/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);*/

background-color:  var(--red);

}



















