/******************************* GENERAL ********************************/

body{
    font-family: 'Didact Gothic', sans-serif;
    --red : #F25038;
}

h3{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 1.5em;
}

h2{
    font-size: 2.5vh;
}

.row{
    margin-bottom: 5em;
}

a{
    color: black;
}

a:focus, a:hover {
    text-decoration: none; 
    color: var(--red);
}

li{
    list-style: square;
    
}
/************************* TOP HEADER & NAV *****************************/

header{
    line-height: 5em;
    padding-top: 3.5em;
}

header a:focus, header a:hover {
    text-decoration: none; 
    color: black;
}

.logo{
    position: relative;
    margin-left: 3em;
}

.logo svg{
    width: 5em;
    height: 5em;
    display: inline;
}

.logo-text{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    display: inline;
    position: absolute;
    bottom: 5px;
}

.hidden{
    display: none;
}

.catch-text{
    height: 5em;
}


/******************** HEADER IMAGE ET ZONE DE RECHERCHE *****************/

.image-search{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: url("../img/louvre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.search-box{
    background: transparent;
    border: none;
    border-bottom: 5px solid white;
}

/**************************** TROUVER UN MUSEE **************************/


.square-title{
    margin-top: 10em;
    position: relative;
    min-height: 10em;
}

.square{
    height: 8em;
    width: 8em;
    position: absolute;
    background-color: var(--red);
}

.square-title h3{
    position: absolute;
    top: 1em;
    left: 2em;
    color: black;
}

article.find-museum > .titles:nth-child(1) > .square-title:nth-child(2) > .square{
    margin-left: 8em;
}

article.find-museum > .titles:nth-child(1) > .square-title:nth-child(2) > h3{
    left: 0;
}

.panel{
    box-shadow: none;
}

.panel-default {
    border: none;
    border-color: transparent;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border:none;
    border-color: transparent;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: var(--red);
}



/**************************** EXPOSITIONS **************************/

.expo-1{
    height: 40em;
    background-image: url("../img/expo-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.expo-2{
    height: 40em;
    background-image: url("../img/expo-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.expo-3{
    height: 40em;
    background-image: url("../img/expo-3a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.expo-4{
    height: 40em;
    background-image: url("../img/expo-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}





















