/******************************* GENERAL ********************************/

body{
    font-family: 'Didact Gothic', sans-serif;
    --red : #F25038;
    --black : #292929;
    --red2 : rgb(224, 77, 55);
/*    background-color: #EDF2F4;*/
}

h3{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 1.5em;
}

h2{
    font-size: 1.6em;
    font-weight: 600;
}

h4{
    font-size: 1.3em;
}

.row:not(header){
    margin-bottom: 5em;
}

a{
    color: black;
}

a:focus, a:hover {
    text-decoration: none; 
    color: var(--red);
}

li{
    list-style: square;
    font-size: 1.2em;
}

/************************* TOP HEADER & NAV *****************************/

header{
    line-height: 5em;
    padding-bottom: 1em;
    padding-top: 3em;
}

header a:focus, header a:hover {
    text-decoration: none; 
    color: black;
}

.logo{
    position: relative;
}

.logo svg{
    width: 5em;
    height: 5em;
    display: inline;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
    text-transform: uppercase;
    display: inline;
    position: absolute;
    bottom: 20px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.8em;
}

.hidden{
    display: none;
}


.catch-text{
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.4em;
    position: relative;
    top: 28px;
}

/******************** HEADER IMAGE ET ZONE DE RECHERCHE *****************/

.image-search{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/essai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.box-search{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: var(--red);
}

.search-box {
    background: transparent;
    border: none;
    border-bottom: 4px solid white;
    font-size: 2.5vh;
    font-weight: 600;
    padding-bottom: 0.2em;
    color: white;
    height: 59px;
}

.search-box:focus {
    outline: none;
}

.send{
    background-color: transparent;
    border: none;
    text-align: right;
    margin: 0;
    border-bottom: 4px solid white;
    height: 59px;
}

.send svg{
    width: 2.5em;
    height: 3.5em;
    text-align: right;
}

.line-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: bevel;
    stroke-width: 3.21px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.65);
}

.line-1 {
    fill: transparent;
}
/**************************** TROUVER UN MUSEE **************************/


.square-title{
    margin-top: 10em;
    position: relative;
    min-height: 10em;
}

.square{
    height: 8em;
    width: 8em;
    position: absolute;
    background-color: var(--red);
}

.square-title h3{
    position: absolute;
    top: 1em;
    left: 2em;
    color: black;

}

article.find-museum > .titles:nth-child(1) > .square-title:nth-child(2) > .square{
    margin-left: 8em;
}

article.find-museum > .titles:nth-child(1) > .square-title:nth-child(2) > h3{
    left: 0;
}

.panel{
    box-shadow: none;
}

.panel-default {
    border: none;
    border-color: transparent;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border:none;
    border-color: transparent;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: var(--red);
}

.panel-title{
    font-size: 1.3em;
}

/**************************** EXPOSITIONS **************************/



/*Now the styles*/
* {
    margin: 0; 
    padding: 0;
}


/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
    width: 100%; height: 43em;
    overflow: hidden;

    /*Time for some styling*/
    margin: 100px auto;
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
    width: 2000px;
    /*This will give ample space to the last item to move
    instead of falling down/flickering during hovers.*/
}

.accordian li {
    position: relative;
    display: block;
    width: 138px;
    float: left;

    border-left: 1px solid #888;


    /*Transitions to give animation effect*/
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    /*If you hover on the images now you should be able to 
    see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 405px;}


.accordian li img {
    display: block;
    max-height: 43em;
    width: auto;
}

/*Image title styles*/
.image_title {
    background: rgba(242, 69, 56, 0.8);
    position: absolute;
    left: 0; bottom: 0;	
    width: 405px;	
}

.image_title a {
    display: block;
    color: #fff;
    font-weight: 600; 
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
}




/* --------------------------FANCY FANCY------------------------- */

a.is-active {
    color: #F25038;
}

.carte path.is-active {
    fill: #F25038;
}

::-webkit-scrollbar

{

    width: 15px;

    margin-right: 3px;

}

::-webkit-scrollbar-track

{

    /*-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,1);*/
    background-color: #ddd;
    /*border-radius: 10px;*/

}

::-webkit-scrollbar-thumb

{

    /*border-radius: 10px;*/

    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);*/

    background-color:  var(--red);

}



/* -----MEDIA QUERIES EN PLUS PARCE QU'ON EST TOUT POINTILLEUX------- */


.vignette{
    height: 415px;
    color: white;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.body_vignette {
    background-color: var(--red);
    padding: 10px;
    height: 100%;
}

.head_vignette {
    background-color: #e8e8e8;
    overflow: hidden;
    box-sizing: content-box;
    border: 2px solid var(--red);
}

.img-acc{
    height: 100px;
    overflow: hidden;
    padding: 10px;
}


.title_vignette {
    background-color: var(--red2);
    
}

.post-title {
    margin: 0;
    padding: 15px 10px;
    font-size: 20px;
    color: white;
}

.post-title:hover {
    color: var(--black);
    transition: color 0.5s;
}

.name_vignette {
    text-transform: uppercase;
    margin: 10px 0px;
    text-align: left;
    color: white;
    font-size: 18px;
}

.more {
    position: absolute;
    bottom: 0;
    right: 15px;
    padding: 10px;
    background-color: var(--red2);
    cursor: pointer;
}

.more:hover {
    background-color: var(--black);
    color: white;
    transition: color 0.8s;
    transition: background-color 0.8s;
}

.more > a {
    color: white;
    font-weight: 400;
}


.box-vign2 {
    position: relative;
    padding-bottom: 50px;
}


.btn-page {
    padding: 15px;
    color: white;
    background-color: var(--red);
    margin: 2px;
}


.btn-active {
    padding: 15px;
    color: white;
    background-color: var(--black);
    margin: 2px;
    cursor: pointer;
}

.btn-page:hover {
    color: var(--black);
}


    
@media (max-width: 576px) { 
    .catch-text, .carte, .last-exhib{
        display: none;
    }

    h3{
        font-size: 1.6em;
    }

    .logo-text{
        font-size: 1.4em;
    }

    .logo svg {
        width: 4.5em;
        height: 4.5em;
    }

    .square-title {
        margin-top: 5em;
    }
}

@media (max-width: 768px){
    .catch-text{
        top: 8px;
    }

    header{
        padding-bottom: 2.5em;
        padding-top: 3.5em;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .catch-text, .last-exhib{
        display: none;
    }
}




/* -------------------------- MODAL ------------------------------ */



.modal-museum-bg{
    height: 100vh;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: rgba(242, 80, 56, 0.6);
}

.modal-core{
    height: 72vh;
    width: 74vw;
    margin: auto;
    margin-top: 14vh;
    background-color: white;
}


#map{
    width: 100%;
    height: 500px;
}


.modal-backdrop {
    background-color: var(--red);
}